<!--
Name: Rehana Devani
ID: 1001100807
NET ID: rxd0807

Web Data Management
Project 3
-->



<!DOCTYPE html>
<head>

  <h2> Click this button to display the JSON content </h2>

</head>

<body>
<div id="bar_div" ></div>

<button id="click" style="color:red; background-color:blue; border-radius:20px;"> Click me </button>


<!-- code to display a table containing JSON data -->

<table id="table" border="1">
  <tr>
    <th> _id </th>
    <th> first_name </th>
    <th> last_name </th>
    <th> company_name </th>
    <th> address </th>
    <th> city </th>
    <th> country </th>
    <th> state </th>
    <th> zip </th>

  </tr>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
<script src="https://maps.google.com/maps/api/js?sensor=false"
        type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.google.com/jsapi"></script>



<script>

  $(document).ready(function(){



    var fetchFromId = function(id) {
      $.ajax({
        url: '/json/'+id,
        type: 'GET',
        dataType: "json",
        success: function(item) {

          console.log("/json/"+id);
          console.log("success");
          var txt = '';

            txt += '<tr><td>' +item._id + '</td><td>' +item.first_name + '</td><td>' + item.last_name + '</td><td>' +
                            item.company_name + '</td><td>' + item.address + '</td><td>' + item.city + '</td><td>' +
                            item.country + '</td><td>' + item.state + '</td><td>' + item.zip + '</td></tr>';


          $('#table').append(txt);

        }
      })
    };

    $("#table").css('visibility', 'hidden');


    $("#click").click(function(){
      $("#table").css('visibility', 'visible');

      for(i=1;i<=100;i++)
      {
        setTimeout(fetchFromId(i), 5000);

      }

    });
  });

</script>

</body>
</html>  



