<!--
Name: Rehana Devani
ID: 1001100807
NET ID: rxd0807

Web Data Management
Project 1
-->



<!DOCTYPE html>
<head>

  <h2> Data is retrieved from MongoDB! Success! </h2>

</head>

<body>
<div id="bar_div" ></div>



<!-- code to display a table containing JSON data -->

<table id="table" border="1">
  <tr>
    <th> _id </th>
    <th> first_name </th>
    <th> last_name </th>
    <th> company_name </th>
    <th> address </th>
    <th> city </th>
    <th> country </th>
    <th> state </th>
    <th> zip </th>

  </tr>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<script>
  $(document).ready(function(){
    //count=0;
    pid=1;
   /* localStorage.setItem('i','1');
    console.log(localStorage.getItem("i"));*/

    var callfetchFromId = function(){
      fetchFromId();
    }

    var fetchFromId = function() {

     /* var id = localStorage.getItem('i');

      var pid = parseInt(id);*/
      if (pid <= 100) {

      $.ajax({
        url: '/json/' + pid,
        type: 'GET',
        async: true,
        dataType: "json",
        success: function (item) {

          console.log("/json/" + pid);
          console.log("success");
          var txt = '';

          txt += '<tr><td>' + item._id + '</td><td>' + item.first_name + '</td><td>' + item.last_name + '</td><td>' +
                  item.company_name + '</td><td>' + item.address + '</td><td>' + item.city + '</td><td>' +
                  item.country + '</td><td>' + item.state + '</td><td>' + item.zip + '</td></tr>';
         // count++;

          if (pid > 20) {
            var modvalue = pid%20;
            //var trs= $("#table tr");
            if(modvalue!=0)
            {
              $('#table tr:eq('+(modvalue)+')').remove();
              $('#table tr:eq('+(modvalue-1)+')').after((txt));

            }
            else
            {
              $('#table tr:eq('+(modvalue+20)+')').remove();
              $('#table tr:eq('+(modvalue+19)+')').after((txt));

            }

          }
          else
          {
            $('#table').append(txt);

          }

          pid++;

          setTimeout(callfetchFromId, 500);
        },
        failure: function(item){
          console.log("failure : "+item);
          fetchFromId();
          console.log("calling again for same id : "+pid);
        }
      })
      //console.log(i);
      /*pid = pid + 1;


      localStorage.setItem('i', pid.toString());
*/
    }
    };




    // setTimeout(fetchFromId, 500);

/*    setInterval(fetchFromId, 500);*/

    fetchFromId();
  });


</script>

</body>
</html>  



